body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#labirinto {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 8px;
    padding: 10px;
    background-color: #333;
    border-radius: 4px;
}

.cella {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 2px;
}
#tesoro{
    margin-top: 40px;
    justify-content: center;
    color: white;
}